## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_Vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max_Temp,Current Description,Lat,Lng,Hotel Name
0,4,Vaini,TO,73.56,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
1,5,Mogadishu,SO,82.27,broken clouds,2.0371,45.3438,Hotel Juba
2,8,Kazanskaya,RU,79.83,clear sky,45.4106,40.4361,Tikhiy Dvorik
3,15,Vao,NC,73.94,overcast clouds,-22.6667,167.4833,Hotel Kou-Bugny
4,19,Chabua,IN,78.55,overcast clouds,27.4825,95.1736,Biru Rupam Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max_Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == "Hamilton"]
vacation_end = vacation_df.loc[vacation_df['City'] == "Hamilton"]
vacation_stop1 = vacation_df.loc[vacation_df['City'] == "Bud"]
vacation_stop2 = vacation_df.loc[vacation_df['City'] == "Greencastle"] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == "Evanston"] 
vacation_stop1

,City_ID,City,Country,Max_Temp,Current Description,Lat,Lng,Hotel Name
58,206,Bud,US,82.92,clear sky,39.447,-86.1758,Ted McQuinn Trust

In [31]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

start

array([39.1834, -84.5333], dtype=object)

In [33]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(38, -122), zoom_level = 7)
Hamilton = start
Bud = stop1
Greencastle = stop2
Evanston = stop3
roadtrip = gmaps.directions_layer(Hamilton, Hamilton,
                                 waypoints=[Bud, Greencastle, Evanston],
                                 travel_mode="DRIVING")

In [34]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1,
                         vacation_stop2, vacation_stop3]
                         ,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max_Temp,Current Description,Lat,Lng,Hotel Name
0,554,Hamilton,US,82.26,few clouds,39.1834,-84.5333,Six Acres Bed & Breakfast
1,206,Bud,US,82.92,clear sky,39.4470,-86.1758,Ted McQuinn Trust
2,563,Greencastle,US,82.04,broken clouds,39.6445,-86.8647,College Inn
3,56,Evanston,US,82.24,clear sky,42.0411,-87.6901,Hilton Garden Inn Chicago North Shore/Evanston

In [35]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max_Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [36]:
#11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(roadtrip)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))